<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd">
  <!--  <bean id="student" class="core.Student" autowire="byName">
        <property name="id" value="1"/>
        <property name="name" value="Abhishek"/>
    </bean>
    <bean id="streamm" class="core.Streamm" >
        <constructor-arg value="mca" index="0">
        </constructor-arg>
        <constructor-arg value="2016" index="1" >
        </constructor-arg>
    </bean>-->
    <bean id="resturant" class="exercise.HotDrink" autowire="constructor">
    </bean>
    <bean id="tea" class="exercise.Tea">
        <property name="teaName" value="Tata Tea"/>
    </bean>
    <!--<bean id="database" class="exercise.Database">
        <property name="name" value="Mysql"/>
         <property name="port" value="3306"/>
    </bean>
    <bean id="expreTea" class="exercise.ExpressTea">
        <property name="expressTeaname" value="Waah Taj"/>
    </bean>-->
    <bean  id="teaResturant" class="exercise.HotDrink" scope="prototype">
    </bean>
   <!-- <bean id="complexobject" class="exercise.Complex">
        <property name="list">
            <list>
                <value> 1</value>
                <value> 2</value>
                <value> 3</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>sanu </value>
                <value> bhattacharya </value>
                <value> harshit </value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="1" value="one"/>
                <entry key="2" value="two"/>
                <entry key="3" value="three"/>
            </map>
        </property>

    </bean>-->
</beans>

